@use "../../presets/" as *;
@use "../../mixins/" as *;

.about {
  background-color: $color-gray-light;
  padding-top: 100px;
  padding-bottom: 100px;
  letter-spacing: 0.055em;
  &__container {
    display: grid;
    @extend %container;
    @include lg-min {
      gap: 100px;
      grid-template-columns: 1fr 271px;
    }
    @include lg-md {
      gap: 60px;
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      gap: 40px;
      grid-template-columns: 1fr 271px;
    }
    @include sm {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-family: $font-header;
    color: $color-primary;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    @include lg-min {
      font-size: 2.5rem;
    }
    @include lg-md {
      font-size: 2rem;
    }
    @include sm {
      font-size: 1.5rem;
    }
  }
  &__image {
    display: grid;
    align-content: center;
    justify-items: center;
  }
}
.about__image img {
  max-width: 100%;
  max-height: 480px;
}
