@use "../mixins/" as *;
@use "../presets/" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  letter-spacing: 0.1em;

  font-family: $font-main;
  font-size: 16px;
}
body {
  margin: 0;
}
a {
  text-decoration: none;

  color: $color-light;
}
h1 {
  letter-spacing: 0.08em;

  color: $color-light;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include xl-lg {
    text-align: center;
  }
  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    text-align: center;

    font-size: 1.875rem;
  }
}

h2 {
  font-family: $font-header;
  font-size: 2.5rem;
  color: $color-primary;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  padding-top: $gap-x5;
  padding-bottom: 50px;
}

p {
  font-family: $font-main;
  font-size: 1.125rem;
  color: $color-gray;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}
